<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.9.0/semantic.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{title}}</title>
</head>

<body>
{{{@body}}}
</body>
</html>